img {
    width: 100%;
}

/*------- burger menu -------------*/

.menubutton {
    width: 2em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}

header * {
    list-style-type: none;
}

.burger a {

    font-family: 'Julius Sans One', sans-serif;
    background-color: white;
    padding: 0px 30px;
    text-decoration: none;
    letter-spacing: 0.8px;
    line-height: 7vw;
    text-transform: uppercase;
    color: black;
}


.bar {
    width: 1.8em;
    height: 0.14em;
    background-color: rgb(226, 49, 49);
    transition: transform .4s;
}


.kryds .bar1 {
    transform: rotate(45deg) translate(2px, 5px);
}

.kryds .bar2 {
    opacity: 0;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(6px, -10px);
}



nav {
    position: absolute;
    width: 100%;
    transform-origin: top;
    transition: transform .5s;
    transform: translateY(1);

    z-index: 5;


}

.hidden {
    transform: translateY(-200px);
}

header .burgermenu {
    background-color: white;
    position: fixed;
    top: 1vw;
    left: 0;
    right: 0;
    height: 0px;
    padding-top: 1vw;
    padding-bottom: 7vw;
    padding-left: 2vw;
    z-index: 21;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
}



/*---------- desktop menu -----------*/

nav {

    background-color: white;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
}

.desktop header * {
    display: inline;
}

ul a {
    font-family: 'Julius Sans One', sans-serif;
    background-color: white;
    padding: 0px 30px;
    text-decoration: none;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    justify-content: space-between;
    color: black;

}

a:hover {
    text-decoration: overline;
    color: rgb(226, 49, 49);
}


ul .menu {
    float: right;
    padding-right: 10vw;
}

.desktop {
    visibility: hidden;
    height: 0;
}


header .visible {
    background-color: white;
    position: fixed;
    top: 1vw;
    left: 0;
    right: 0;
    height: 0px;
    padding-top: 2vw;
    padding-bottom: 6vw;
    z-index: 21;
}


/**----------- Media Q -------------**/

@media screen and (min-width:600px) {
    .desktop {
        visibility: visible;
        height: auto;
    }

    .burgermenu {
        visibility: hidden;
        height: 0;
    }
}


@media screen and (min-width:600px) {
    .overskrift h1 {
        padding-top: 10vw;
    }
}



@media screen and (max-width:1030px) {
    ul {
        display: flex;
        flex-direction: column;
    }

}



/*----- skrifttype, str. osv. ------*/

a {
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    line-height: 20px;
    color: grey;
    text-decoration: none;

}

.facebook a {
    font-size: 1.8em;

}

.facebook p {
    word-spacing: 3vw;

}


h1 {


    font-family: 'Julius Sans One', sans-serif;

    font-size: 2.5em;
    line-height: 45px;
    color: #ea1717;
    font-size: 2.8em;
    text-align: center;

}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.4em;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.4em;
    line-height: 25px;
}



h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.8em;
    line-height: 25px;


}


p {
    font-family: 'Abel', sans-serif;
    font-size: 1.1em;
    line-height: 22px;
    word-spacing: 0.1vw;
}


hr {
    border: 0;
    height: 0.9px;
    background-color: rgb(226, 49, 49);
}




/*---------- Forside --------------*/

#forside {
    padding-top: 10vw;
}





/*---------- om mig --------------*/

#om .section {
    padding: 0 15px 30px;
    margin: 0 auto;
    max-width: 700px;
    max-width: 450px;
    position: relative;
}

#om .sectionwrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


#om .column {

    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 7px 1px;
    text-align: center
}

#om img {
    border-radius: 100%;
    max-width: 100%;

}


#om h1 {


    padding-top: 10vw;

}




/**----------- Portfolio ---------------**/

#portfolio {

    padding-top: 8vw;
    padding-bottom: 5vw;
}



#portfolio .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(245, 245, 245, 0.77);
}


h1 {
    text-align: center;
}

.overskrift h1 {


    padding-top: 10vw;

}

/**--- Portfolio boks -----**/

#portfolio .boks {
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#portfolio .content {
    width: 400px;
    height: 400px;

}

#portfolio .tekst {
    margin: 5vw;
}

#portfolio .tekst h1 {
    font-size: 1.6em;
}

.tekst h1 {
    color: black;
}


/**--- Portfolio hover over billeder/links -----**/

.pic {
    width: 400px;
    height: 400px;
    opacity: 1;
    filter: alpha(opacity=100);

}

.pic:hover {
    opacity: 0.6;
    filter: alpha(opacity=30);
    color: aqua;
}



/*---------- Stilartsite --------------*/

#stilartsite .section {
    padding: 0 15px 30px;
    margin: 0 auto;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

#stilartsite .sectionwrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


#stilartsite .column {

    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 7px 1px;
}

#stilartsite h1 {

    flex-basis: 200px;
    padding-top: 10vw;

}



/*---------- everyday project --------------*/

#everydayproject .section {
    padding: 0 15px 30px;
    margin: 0 auto;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

#everydayproject .sectionwrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


#everydayproject .column {

    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 7px 1px;
}

#everydayproject h1 {


    flex-basis: 200px;
    padding-top: 10vw;

}

.responsive {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    /*     16:9 Aspect Ratio */
}

.responsive iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
}

/*---------- Redesign --------------*/

#redesign .section {
    padding: 0 15px 30px;
    margin: 0 auto;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

#redesign .sectionwrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


#redesign .column {

    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 7px 1px;
}


#redesign h1 {

    flex-basis: 200px;
    padding-top: 10vw;

}

/*---------- Animation --------------*/

#animation .section {
    padding: 0 15px 30px;
    margin: 0 auto;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

#animation .sectionwrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


#animation .column {

    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 7px 1px;
}

#animation h1 {

    flex-basis: 200px;
    padding-top: 10vw;

}

/*---------- Sexog Samfund --------------*/

#sexogsamfund .section {
    padding: 0 15px 30px;
    margin: 0 auto;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

#sexogsamfund .sectionwrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


#sexogsamfund .column {

    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 7px 1px;
}

#sexogsamfund h1 {

    flex-basis: 200px;
    padding-top: 10vw;

}

/*---------- KEAapp --------------*/

#keaapp .section {
    padding: 0 15px 30px;
    margin: 0 auto;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

#keaapp .sectionwrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


#keaapp .column {

    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 7px 1px;
}

#keaapp h1 {

    flex-basis: 200px;
    padding-top: 10vw;

}



/*---------- Joe & The Juice app --------------*/

#joeapp .section {
    padding: 0 15px 30px;
    margin: 0 auto;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

#joeapp .sectionwrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


#joeapp .column {

    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 7px 1px;
}

#joeapp h1 {

    flex-basis: 200px;
    padding-top: 10vw;

}






/*--------- andet ---------*/

body {
    background-color: rgba(245, 245, 245, 0.78);
}


section {
    border-radius: 10px;
}

/*---------- Footer -----------*/

footer {
    text-align: center;
    color: white;
    background-color: rgba(23, 25, 27, 0.66);
    padding: 10px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10px;
}
