p,
img,
div,
h1 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}



.bauhaus img {
    width: 30%;
}

p,
h2,
h3 {
    font-family: 'Raleway Dots', cursive;
}

h1,
h5 {
    font-family: 'Raleway Dots', cursive;
    color: rgb(226, 49, 49);
}

h1 {
    padding-bottom: 10vw;
}

html {
    background-color: rgba(245, 245, 245, 0.78);
}

hr {
    border: 0;
    height: 0.5px;
    background-color: rgb(226, 49, 49);
}


/*---------- Footer -----------*/

footer {
    text-align: center;
    color: white;
    background-color: #17191b;
    padding: 15px;
    margin-left: -3vw;
    margin-right: -6vw;
    font-family: 'Raleway Dots', cursive;
}

footer a {
    color: white;
    font-size: 1.6vw;
}


/*---------- Navigation -----------*/

nav {

    background-color: white;
    text-decoration: none;
    font-family: 'Raleway Dots', cursive;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    margin-left: -3vw;
    margin-right: -6vw;
    padding-bottom: 5vw;
}

ul a {
    font-family: 'Raleway Dots', cursive;
    background-color: white;
    padding: 0px 30px;
    text-decoration: none;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    justify-content: space-between;
    color: black;
}

a:hover {
    text-decoration: overline;
    color: rgb(226, 49, 49);
}


ul .menu {
    float: right;
}



/**----------- Media Q -------------**/

@media screen and (max-width:816px) {

    footer a {
        color: white;
        font-size: 2vw;
    }
}




/**----------- Forside -------------**/

.forside,
p {
    color: black
}

/**----------- Ommig ---------------**/

#om {
    flex-grow: 1;
    background-color: white;
    padding: 10px 30px 10px;
    margin: -3vw;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}


#om h2 {
    font-size: 4.5vw;
}

#om img {
    border-radius: 100%;
    width: 30%;
    justify-content: center;

}


#om a {
    font-size: 3.5vw;
    line-height: 3vw;
    color: black;
    font-family: 'Raleway Dots', cursive;
    text-decoration: none;
    padding: 2vw;
}

#om i {
    font-size: 3.3vw;
    line-height: 5vw;
}


/**----------- Portfolio ---------------**/

#portfolio {
    padding: 0;
    padding-top: 5vw;
    padding-bottom: 5vw;
}



#portfolio .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(245, 245, 245, 0.77);
}


h1 {
    text-align: center;
    padding-top: 10vw;
    padding-bottom: 5vw;
}


/**--- Portfolio boks -----**/

.boks {
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.content {
    width: 400px;
    height: 400px;
}

.tekst {
    padding: 2vw;
}


/**--- Portfolio hover over billeder/links -----**/

.pic {
    width: 400px;
    height: 400px;
    opacity: 1;
    filter: alpha(opacity=100);

}

.pic:hover {
    opacity: 0.6;
    filter: alpha(opacity=30);
}


/**----------- everydayproject ---------------**/

#everyday {

    flex-grow: 1;
    background-color: white;
    padding: 10px 30px 10px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    max-width: 1200px;
    max-width: 900px;
    position: relative;

}

/**----------- Stilartsite ---------------**/

#stilart {
    flex-grow: 1;
    background-color: white;
    padding: 10px 30px 10px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

#stilart a {
    color: red;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 0.8px;
}

#stilart a:hover {
    text-decoration: overline;
}


/**----------- Stilartsite ---------------**/

#redesign {
    flex-grow: 1;
    background-color: white;
    padding: 10px 30px 10px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}
