#om img {
    border-radius: 100%;
    width: 50%;
}

.bauhaus img {
    width: 30%;
}

p,
h1 {
    font-family: 'Raleway Dots', cursive;
}

footer {
    text-align: center;
    color: white;
    background-color: #17191b;
    padding: 15px;
    font-family: 'Raleway Dots', cursive;
}

html {
    background-color: white;
}

/*---------- Navigation -----------*/

nav {
    padding: 5px;
    background-color: white;
    text-decoration: none;
    font-family: 'Raleway Dots', cursive;
    font-size: 1.2em;
    position: relative;
}

a {
    font-family: 'Raleway Dots', cursive;
    background-color: white;
    padding: 0px 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: overline;
    color: #ffeb00;
}

.Shawna {
    font-size: 1.4em;
}



/**----------- Media Q -------------**/

/**----------- Forside -------------**/

.forside,
p {
    color: black
}

/**----------- Ommig ---------------**/

#om .bauhaus {
    box-sizing: border-box;
    background-color: rgba(255, 226, 0, 0.67);
    margin-top: 10vw;
    margin-bottom: 10vw;
    text-align: center;

}

/**----------- Portfolio ---------------**/

#portfolio {

    justify-content: center;
    padding: 5vw;
}

#portfolio .row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
    box-sizing: content-box;
    padding-left: 9.89vw;
    position: relative;
    background-color: white;

}

#portfolio .row2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
    box-sizing: content-box;
    padding-left: 8.8vw;
    position: relative;
    background-color: white;

}

#portfolio .row3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
    box-sizing: content-box;
    padding-left: 9.89vw;
    position: relative;
    background-color: white;

}

#portfolio .row4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
    box-sizing: content-box;
    padding-left: 8.8vw;
    position: relative;
    background-color: white;

}

#portfolio .row5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
    box-sizing: content-box;
    padding-left: 9.89vw;
    position: relative;
    background-color: white;

}

#portfolio .row6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
    box-sizing: content-box;
    padding-left: 8.8vw;
    position: relative;
    background-color: white;

}


#portfolio .row7 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
    box-sizing: content-box;
    padding-left: 9.89vw;
    position: relative;
    background-color: white;

}



/**--- Portfolio boks -----**/

.boks {
    display: flex;
    text-align: center;
    line-height: 3.4vw;
    background-color: rgba(255, 0, 0, 0.5);

    height: 350px;
    width: 350px;

}

/*
#boks1 {
    height: 350px;
    width: 350px;

}

#boks2 {
    height: 350px;
    width: 350px;

}

#boks3 {
    height: 350px;
    width: 350px;

}
*/
